@{
    ViewBag.Title = "Parametrization";
}

<h2 translate="PARAMETRIZATION_MENU"></h2>
<hr/>

<div class="row">
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","UnitType")" class="thumbnail item">
            <i class="pe-7s-box1" style="font-size: 48px"></i>            
        </a>
        <div><span translate="UNITTYPE" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","DeliveryCompany")" class="thumbnail item">
            <i class="pe-7s-plane" style="font-size: 48px"></i>           
        </a>
        <div>
            <span translate="DELIVERY_BY" style="color:#24C9EA"></span>
        </div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Branch")" class="thumbnail item">
            <i class="pe-7s-way" style="font-size: 48px"></i>            
        </a>
        <div><span translate="BRANCH" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Origin")" class="thumbnail item">
            <i class="pe-7s-map-marker" style="font-size: 48px"></i>
        </a>
        <div><span translate="ORIGIN" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Destination")" class="thumbnail item">
            <i class="pe-7s-map" style="font-size: 48px"></i>
        </a>
        <div><span translate="DESTINATION" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Condition")" class="thumbnail item">
            <i class="pe-7s-box2" style="font-size: 48px"></i>
        </a>

        <div><span translate="CONDITION" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Country")"  class="thumbnail item">
            <i class="pe-7s-flag" style="font-size: 48px"></i>
        </a>
        <div><span translate="COUNTRY" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","ClassificationAccount")" class="thumbnail item">
            <i class="pe-7s-way" style="font-size: 48px"></i>
        </a>
        <div><span translate="ACCOUNTCLASSIFICATION" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","Notification")" class="thumbnail item">
            <i class="pe-7s-bell" style="font-size: 48px"></i>
        </a>
        <div><span translate="ACCOUNTNOTIFICATION" style="color:#24C9EA"></span></div>
    </div>
    <div class="col-md-1 text-center">
        <a href="@Url.Action("Index","WarehouseType")" class="thumbnail item">
            <i class="pe-7s-menu" style="font-size: 48px"></i>            
        </a>
        <div><span translate="WAREHOUSECLASSIFICATION" style="color:#24C9EA"></span></div>
    </div>
</div>
